.dark-toolbar {
  --background: #141414;
  --ion-color-light: #f0f0f0;
  color: #ffffff;
}

.mobile-menu-icon {
  display: none; /* Hide by default */
}

.desktop-menu-buttons {
  display: flex;
}


.mobile-menu-button {
  display: none;
}



/* Show menu button on mobile and hide desktop buttons */
@media (max-width: 768px) {
  .mobile-menu-button {
    display: inline-flex;
  }
  .desktop-menu-buttons {
    display: none;
  }
}
/* Desktop view: Hide menu button, show desktop buttons */
@media (min-width:961px)  {
  .mobile-menu-button {
    display: none;
  }
  .desktop-menu-buttons {
    display: flex; /* Show desktop buttons on desktop */
    gap: 10px; /* Add some spacing between desktop buttons */
  }
}




ion-menu::part(backdrop) {
  background-color: #141414;
}


ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  // box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
}