  <!-- Footer Section -->
  <div class="dark-theme-footer">
    <div class="footer-top">
      <div class="footer-section">
        <h4>Envato Market</h4>
        <ul>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Licenses</a></li>
          <li><a href="#">Market API</a></li>
          <li><a href="#">Become an Affiliate</a></li>
          <li><a href="#">Cookies</a></li>
          <li><a href="#">Cookie Settings</a></li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h4>Help</h4>
        <ul>
          <li><a (click)="Redirect('help-center')">Help Center</a></li>
          <li><a href="#">Authors</a></li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h4>Our Community</h4>
        <ul>
          <li><a href="#">Community</a></li>
          <li><a (click)="Redirect('blog')">Blog</a></li>
          <li><a href="#">Forums</a></li>
          <li><a (click)="Redirect('contactus')">Meetups</a></li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h4>Meet Envato</h4>
        <ul>
          <li><a (click)="Redirect('aboutus')">About Us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Do not sell or share my personal information</a></li>
          <li><a href="#">Sitemap</a></li>
        </ul>
      </div>
    </div>
  
    <div class="footer-bottom">
      <div class="footer-info">
        <p>&copy; 2024 Envato Pty Ltd. Trademarks and brands are the property of their respective owners.</p>
        <p>Price is in US dollars and excludes tax and handling fees.</p>
      </div>
      <div class="footer-social">
        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
        <a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
      </div>
    </div>
  </div>
